@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/700.css';

body {
  background: url('/images/vidgo-bg.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* NOTE: removes green border on chrome when button clicked */
button:focus {
  outline: none !important;
}

#footer {
  background-color: rgb(15, 41, 60);
}

#vidgo-img-mobile {
  max-width: 400px;
}

#vidgo-img-desktop {
  max-width: 1200px;
}
